.nlt-about-us{
color:white;
font-family: arial;

}
.nlt-testimony{
color:white;
font-family: arial;
}
.nlt-contacts{
color:white;
font-family: arial;
}
.nlt-log-in{
color:white;
font-family: arial;
}






.btn-videos{
    background-color: white;
    color:black;
    border:solid 2px black;
}


.btn-menu{

  background-color: white;
  color:black;
  border:solid 2px black;
}

